body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
}

h1 {
    color: #333333;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #de0202;
    color: #fff;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fc0000;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin-top: 10px;
}

h2.completed {
    text-decoration: line-through;
    color: #fffdfd;
}
